<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nisi earum voluptatum nobis unde vel, ab assumenda illo, dolorem corrupti nesciunt quidem omnis facilis recusandae voluptate. Accusantium explicabo aliquam optio.
    </p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam dolores, consectetur officiis aliquid est natus
        quasi eos saepe explicabo doloribus? Consectetur, odit? Corrupti eos deserunt aperiam eveniet! Quos, ex
        molestias.</p>
</body>

</html>